:root {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    --linearbase : linear-gradient(152deg, rgba(161, 84, 84, 0.3), rgba(145, 152, 229, 0.4));
}

body {
    margin: 0;
}

::selection {
    background-color: rgba(17, 17, 60, 0.5);
}


#view {
    background: var(--linearbase);  
    background-color: rgb(17, 17, 60);  
    min-height: 100svh;
    width: min(100svw, 112.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

#component {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#ball {
    width: 80%;
    max-width: 80svh;
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: inset 0 0 70px 8px rgb(0, 0, 0),  0 0 100px 0 rgba(238, 207, 204, 0.871);
    background: rgb(208, 177, 177);
    background-image: linear-gradient(152deg, rgba(161, 84, 84, 0.4), rgb(145, 152, 229, 0.3));
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#age {
    height: fit-content;
    color: rgb(51, 50, 50);
    font-size: 16px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    /* display: none; */
}

.column-container {
    display: flex;
}

div.column-container>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#age>div>p {
    visibility: visible;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.409), 0 1px 15px 0 rgba(238, 207, 204, 0.471);
    font-size: 1.5rem;
    text-align: center;
    caret-color: white;
    color: white;
}

input.invalid {
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.409), 0 1px 15px 0 rgba(100, 10, 1, 0.9);
}

input:disabled {
    box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.409);
}

p.errorMessage, p.errorMessageMonth {
    visibility: hidden;
}

p.errorMessage.invalid, p.errorMessageMonth:invalid {
    visibility: visible;
    color: rgb(100, 10, 1);
    font-style: italic;
    text-align: center;
}

button {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.409), inset 0 0 0.3125rem 0.125rem rgba(72, 68, 68, 0.281);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1.125rem;
    height: auto;
    font-size: 1.5rem;
    border: transparent;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.418);
}

button:active {
    color: rgba(255, 255, 255, 0.618);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.247) ;
    border: none;
}

button:disabled {
    cursor: not-allowed;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

fieldset {
    border: none;
}

.text {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.875rem;
    letter-spacing: 0.125rem;
    opacity: 0.8;
}

#inputs {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    color: white;
}

::placeholder {
    color: white;
    font-style: italic;
    opacity: 0.5;
}

.leftcol {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

input:first-of-type, input:nth-of-type(2)  {
    margin-right: 0.3125rem;
}